body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fff7ef;
}
.header {
    background: #ff7a26;
    padding: 1.3rem;
    text-align: center;
    color: white;
}

.hero {
    background: url('img/coffee-bg.png') center/cover;
    padding: 3.5rem 1rem;
    text-align: center;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
}

.menu {
    padding: 1rem;
}

.menu h3 {
    text-align: center;
    color: #ff7a26;
    margin-bottom: 1.5rem;
}


.menu-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.3rem;
}

.card {
    background: white;
    padding: 1rem;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 14px rgba(0,0,0,0.12);
}

.card img {
    width: 100%;
    height: 160px;
    border-radius: 10px;
    object-fit: cover;
}

.card h4 {
    color: #ff7a26;
    margin: .7rem 0 .3rem;
}

.footer {
    background: #ff7a26;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}



@media only screen and (min-width: 768px) {

    body {
        background: #fff1e0;
    }

    .header {
        text-align: left;
        padding: 1.5rem 2rem;
        font-size: 1.3rem;
    }

    .hero {
        padding: 6rem 2rem;
        font-size: 2rem;
        text-align: left;
    }

    .menu-grid {
        grid-template-columns: repeat(3, 1fr);
        max-width: 1100px;
        margin: 0 auto;
    }

    .card {
        padding: 1.5rem;
        transition: transform .3s;
    }

    .card:hover {
        transform: translateY(-5px);
    }

    .footer {
        padding: 2rem;
        font-size: 1.1rem;
    }
}
